$boxShadow: rgba(149, 157, 165, .2) 0px 8px 24px;
$backgroundBox: #F2F5F8;
$borderDashed: #C7CDD3;
$colorTitle: #495567;
$colorSubtitle: #677489;
$colorError: #C64D32;
$backgroundImage: #C3CBD5;
$colorIconeWarning: #FFF;

.box-default {
  border: 2px dashed $borderDashed;
}

.box {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px;
  border-radius: 20px;
  background-color: $backgroundBox;
  box-shadow: $boxShadow;
  width: 553px;
  height: 177px;
  margin: auto;

  .box-header {
    position: absolute;
    right: 0;
    margin: 4px 28px;
    cursor: pointer;
  }

  .drop-file-container {
    margin: auto;
    line-height: 25.2px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
    size: 14px;
    cursor: pointer;
    
    .file-title {
      font-weight: 500;
      font-size: 18px;
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: auto;
    }

    .title-default {
      color: $colorTitle;

      span {
        margin-left: 10px;
      }
    }

    .title-error {
      color: $colorError;
    }

    .file-subtitle {
      font-weight: 400;
      font-size: 17px;
      vertical-align: top;
      color: $colorSubtitle;
    }
   
    .file-subtitle {
      font-weight: 400;
      font-size: 17px;
      vertical-align: top;
      color: $colorSubtitle;
    }
   
    .subtitle-error {
      color: $colorSubtitle;
      text-decoration: underline;
      margin-left: -112px;
      font-size: 18px;
    }
    
    .container-info-image {
      display: flex;
      flex-direction: row;
      align-items: center;
      
      .file-image {
        width: 150px;
        height: 150px;
        border-radius: 128%;
        position: absolute;
        left: 0;
        margin-left: 42px;
        background-color: $backgroundImage;
      }

      .container-image-error {
        position: absolute;
        left: 0;
        margin-left: 42px;

        .file-image-icone {
          width: 150px;
          height: 150px;
          border-radius: 128%;
          position: relative;
          background-color: $backgroundImage;
          display: flex;
          justify-content: center;
          align-items: center;
  
          .icone {
            color: $colorIconeWarning;
            font-size: 40px;
          }
        }
      }
     

      .container-titles {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .container-title-with-image-filled {
        margin-left: 155px
      }
    
      .container-title-with-image-error {
        margin-left: 42px
      }
    }
  }
}


.drop-file-container:hover {
  opacity: 0.6;
}

